<div class="jumbotron">
  <h1>Jekyll Ember Bootstrap</h1>
  <p>
    Get started quickly with <a href="http://emberjs.com" target="_blank">EmberJS</a> and <a href="http://jekyllrb.com" target="_blank">Jekyll</a>
  </p>
  <p>
    <a class="btn btn-primary" href="https://github.com/marcqualie/jekyll-ember/archive/master.zip">Download</a>
    <a class="btn btn-info" href="https://github.com/marcqualie/jekyll-ember">Learn More</a>
  </p>
</div>
